# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/

# Environment variables
.env

# Virtual environment
venv/
env/

# VSCode settings
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Python packaging
*.egg-info/
dist/
build/

# Pytest cache
.pytest_cache/
