Django>=4.2.21
google-generativeai
python-dotenv

mongoengine>=0.27
Werkzeug>=2.0
phonenumbers
email-validator
opencv-python
requests
beautifulsoup4
faster-whisper
PyPDF2
python-docx
python-pptx
openpyxl
bcrypt>=4.0.1
gunicorn==21.2.0 